.header {
    background-color: #1731a4;
    color: #ffffff;
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;
  }
.body {
  background-color: #eeeeee;
}